*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    background-color: #081b31;
    color: white;
    text-align: center;
    padding: 1rem;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
}
.choice{
    height: 170px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice img{
    height: 135px;
    width: 135px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 50%;
}
.choice img:hover{
    border: 5px solid black;
    cursor: pointer;
    opacity: 0.7;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
    margin-top: 3rem;
}
#userScore, #compScore{
    font-size: 4rem;
}
.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
#msg{
    background-color:#081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}